body {
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, hsl(32, 93%, 62%), hsl(20, 100%, 60%), hsl(343, 77%, 58%), hsl(331, 79%, 50%), hsl(317, 72%, 47%), hsl(287, 70%, 45%), hsl(259, 71%, 41%), hsl(242, 71%, 44%), hsl(233, 70%, 41%));
    background-repeat: no-repeat;
    background-size: 120% 150%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.text {
    color: white;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 3px 3px 2px rgb(235, 195, 195)
    
}

.link-button {
    display: inline-block;
    margin-top: 20px;
    font-size: 25px;
    margin: 70px 50PX 0;
}

a:link, a:visited {
    color:whitesmoke;
    border: 3px solid whitesmoke;
    padding: 10px 20px;
    text-decoration: none;
    box-shadow: 0 0 6px 3px whitesmoke;

}

a:hover, a:active {
    background-color: whitesmoke;
    color: rgb(245, 104, 128);
    box-shadow:none;
    border-radius: 5px;
}



    
